.center {
    text-align: center;
    font-size: 32px;
    background-color: #0a00b3;
    color: white;
    margin: 0;
    border-radius: 15px;
}

.subcenter {
    font-weight: normal;
    font-size: 18px;
}

.header {
    color: #0a00b3;
    width: 90%;
}

.containers {
    width: 90%;
    margin-bottom: 40px;
}

p {
    margin: 10px 0px 10px 0px;
}

.ul {
    list-style: none;
    width: 45%;
    padding: 0, 2.5%, 0, 2.5%;
}

li {
    margin-bottom: 10px;
    margin-top: 0px;
}

#info {
    font-size: 20px;
}

#tableLeft {
    float:left;
}

#tableRight {
    float: left;
}

progress {
    width: 90%;
    height: 25px;
}

li img {
    vertical-align: middle;
}

a {
    text-decoration: none;
}

#background {
    border: 3px solid black;
    margin: 7% 14% 7% 14%;
    background-color: white;
    border-radius: 15px;
    box-shadow: -5px 5px 15px;
}

body {
    background-color: rgba(116, 238, 230, 0.352);
}

#photo {
    width: 300px;
    height: 225px;
}

@media (max-width: 350px) {
    #photo {
        width: 250px;
        height: 187.5px;
    }
}

@media (max-width: 1200px) {
    #info {
        margin: 0px;
    }

    .ul {
        width: 90%;
        margin: 0px;
    }

    #background {
        border: 3px solid black;
        margin: 7% 5% 7% 5%;
        background-color: white;
    }
    .subcenter {
        font-size: 14px;
    }
}

